@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App {
  font-family: Poppins;
  overflow: hidden;
  width: 100%;
  /* background-color: var(--grayish); */
  background-color: white;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

:root {
  --blue1 : #1D60C9;
  --blue2 : #00308F;
  --grayish : #F4F4F4;
  --graytext : #949494;
}

.Header-wrap {
  background-color: red;
  width: 96vw;
  margin: 0;
  padding: 0;
}

#Header {
  display: flex;
  padding:  18px 36px;
  width: 100%;
  height: 64px;
  line-height: 21px;
  background-color: white;
}

#Header img {
  width: 138px;
  height: 63px;
}

#Header div {
  margin-left: auto;
  display: flex;
  height: 64px;
}

#Header button {
  background-color: white;
  box-sizing: border-box;
  border: 2px solid var(--blue1);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: var(--blue1);
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0px;
  height: 50px;
  width: 180px;
  transition: 400ms ;

}

#Header button:hover {
  background: var(--blue1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: white;
}

#Header .link {
  text-decoration: none;
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-left: 28px;
  margin-right: 28px;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  transition: 300ms;
  border-bottom: 1px solid transparent;
}

#Header .link:hover {
  color: var(--blue1);
  border-bottom-color: var(--blue1);
}

#Header div hr {
  box-sizing: border-box;
  height: 21px;
  width: 0;
  border: none;
  border-left: 5px solid #E5E5E5;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.links {
  
  display: table-cell;
  vertical-align: middle;
}

#Header2 {
  display: flex;
  padding: 14px 48px;
  width: 100%;
  height: 44px;
  background-color: var(--blue1);
  color: white;
  margin-bottom: 0;
}

#Header2 div {
  margin-left: 24px;
  display: table;
}

#Header2 div .link {
  text-decoration: none;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 44px;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: 48px;
  margin-left: 0px;
  margin-top: auto;
  margin-bottom: auto;
}

#Header2 .search-div {
  margin-left: auto;
  margin-right: 0;
}

button {
  border-radius: 2vw;
}

.pageCard {
  display: block;
  margin-top: 0;
  padding-top: 150px;
  width: 100%;
  height: 250px;
  text-align: center;
  justify-items: center;
  justify-content: center;
  color: white;

}

.homeCardStyle {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./static/images/homeCardBackSplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.roadCardStyle {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./static/images/detailsCardBackSplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cardTitle {
  margin-bottom: 10px;
  padding-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.cardDesc {
  margin-top: 0;
  padding-top: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.search-input {
  width: 380px;
  height: 24px;
  border-radius: 0.9vw;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--graytext);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: 300ms;
  padding: 10px;
}

.search-input::placeholder {
  color:  var(--graytext);
  transition: 300ms;
}

.search-input:hover::placeholder {
  color: black;
}

.search-input:focus {
  outline: none;
}

.searchspan {
  float:left;
  margin-left: 16px;
  position: relative;
  z-index: 2;
  color: inherit;
}

.page-content-div {
    background-color: var(--grayish);
}

.plan-options {
  display: flex;
  justify-content: center;
  padding: 2vw;
  padding-top: 200px;
}

.plan-option {
  width: 310px;
  text-align: center;
  background-color: white !important;
  border: none;
  border-radius: 1vw;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-right: 24px;
}

.plan-options button {
  height: 50px;
  width: 180px;
  background-color: var(--blue1);
  color: white;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px;
  transition: 300ms;
}

.plan-options button:hover  {
  background: var(--blue2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.plan-option img {
  width: 260px;
  height: 160px;
  margin-bottom: 26px;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
}

.plan-option div {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.benefit {
  display: flex;
  margin-top: 10px;
  width: 100%;

  border: 2px solid red;
}

.tick-outer {
  display: table;
  flex: 1;
  width: 18px;
}

.tick, .tick p {
  color: green;
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  font-size: 18px;
}

.ben-p-outer {
  flex: 8 !important;
  display: table;
}

.benefit p {
  display: table-cell;
  vertical-align: middle;
  padding-left: 16px;  
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.plan-title {
  font-weight:600;
  font-size: 18px;
  line-height: 27px;
  margin-top: 36px;
  margin-bottom: 0px;
}

.plan-price {
  font-style: normal;
  font-weight:300;
  font-size: 36px;
  line-height: 36px;
}

.plan-price b {
  font-style: normal;
  font-weight:400;
  font-size: 18px;
  line-height: 27px;
}

.selected {
  width: 641px;
  margin: 100px auto 0px auto;
  border: none;
  padding: 0;
  display: flex;
}

.selected div .plan-title {
  margin-top: 0;
  margin-bottom: 0;
}

.selected div .plan-price {
  margin-top: 24px;
  margin-bottom: 24px;
}

.detail-benefits {
  margin: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  border: none;
  box-shadow: none;
} 


.selected img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  width: 260px;
  height: 160px;
}

.hr-details {
  width: 1000px;
  margin: 0px 220px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid var(--grayish);
}

.selected div {
  flex:1;
  display: flex;
  flex-direction: column;
}

.other-options {
  display: flex;
  width: 876px;
  height: 370px;
  margin: 0 auto 50px auto;
  padding: 50px 0;
}

.other-option {
  flex: 1;
  width: 426px;
  margin: 12px;
  height: 220px;
  display: flex;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.other-option div {
  flex: 1;
}

.other-option div + div {
  display: flex;
  flex-direction: column;
  margin: 38px 24px;
}

.other-option div img {
  width: 130px;
  height: 80px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 70px 24px;
  border-radius: 15px;
}

.other-option div .plan-title {
  margin: 0;
}

.other-option div .plan-title + p {
  margin-top: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.other-option div button {
  border: 2px solid var(--blue1);
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: var(--blue1);
  background-color: white;
  box-sizing: border-box;
  border-radius: 30px;
  width: 180px;
  height:  50px;
  transition: 300ms;
}

.other-option div button:hover {
  background: var(--blue1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: white;
}


