@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App {
  font-family: Poppins;
  overflow: hidden;
  width: 100vw;
  background-color: white;
  
}
* {
  box-sizing: border-box;
}


body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

:root {
  --blue1 : #1D60C9;
  --blue2 : #00308F;
  --grayish : #F4F4F4;
  --graytext : #949494;
  --green: #0E772D;
}

.Header-wrap {
  background-color: red;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.active{
  /* height: 4rem;
  width: 100%; */
  position: fixed;
  top: 0px;
  transition: 0.3s linear;
  /* display: flex; */
  justify-content:stretch;
  align-items: center;
  background-color: #FFFFFF;
  /* border-bottom: 1px solid rgba(0, 0, 0, .1); */
  z-index: 40;
  /* box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08); */
  /* padding: 0 7%; */
}


.hidden{
  /* height: 4rem; */
  /* width: 100%; */
  z-index: 40;
  /* border-bottom: 1px solid rgba(0, 0, 0, .1); */
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
  position: fixed;
  top: -172px;
  transition: 0.3s linear;

}

#Header {
  display: flex;
  padding:  18px 36px;
  width: 100vw;
  height: 100px;
  line-height: 21px;
  background-color: white;
}

#Header img {
  width: 148px;
  height: 63px;
}

#Header div {
  margin-left: auto;
  display: flex;
  height: 64px;
}

#Header button {
  background-color: white;
  box-sizing: border-box;
  border: 2px solid var(--blue1);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: var(--blue1);
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0px;
  height: 50px;
  width: 180px;
  transition: 400ms ;

}

#Header button:hover {
  background: var(--blue1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: white;
}

#Header .link {
  text-decoration: none;
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-left: 28px;
  margin-right: 28px;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  transition: 300ms;
  border-bottom: 1px solid transparent;
}

#Header .link:hover {
  color: var(--blue1);
  border-bottom-color: var(--blue1);
}

#Header div hr {
  box-sizing: border-box;
  height: 21px;
  width: 0;
  border: none;
  border-left: 5px solid #E5E5E5;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.links {
  
  display: table-cell;
  vertical-align: middle;
}

#Header2 {
  display: flex;
  padding: 14px 48px;
  width: 100vw;
  height: 72px;
  background-color: var(--blue1);
  color: white;
  margin-bottom: 0;
}

#Header2 div {
  /* margin-left: 24px; */
  display: table;
}

#Header2 div .link {
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-right: 12px;
  padding-left: 36px;
  /* margin-right: 12px;
  margin-left: 36px; */
  margin-top: auto;
  margin-bottom: auto;
}

#Header2 .search-div {
  margin-left: auto;
  margin-right: 0;
}

button {
  border-radius: 2vw;
}

.pageCard {
  display: block;
  padding-top: 150px;
  width: 100vw;
  height: 400px;
  text-align: center;
  justify-items: center;
  justify-content: center;
  color: white;

}

.active + div .pageCard {
  margin-top: 172px;
  transition: 0.3s linear;
}

.hidden + div .pageCard {
  margin-top: 0;
  transition: 0.3s linear;
}

.homeCardStyle {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./static/images/homeCardBackSplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.roadCardStyle {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./static/images/detailsCardBackSplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cardTitle {
  margin-bottom: 10px;
  padding-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.cardDesc {
  margin-top: 0;
  padding-top: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.search-input {
  width: 400px;
  height: 44px;
  border-radius: 0.9vw;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--graytext);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: 300ms;
  padding: 10px;
}

.search-input::placeholder {
  color:  var(--graytext);
  transition: 300ms;
}

.search-input:hover::placeholder {
  color: black;
}

.search-input:focus {
  outline: none;
}

.searchspan {
  float:left;
  margin-left: 16px;
  position: relative;
  z-index: 2;
  color: inherit;
}

.page-content-div {
    background-color: var(--grayish);
}

.plan-options {
  display: flex;
  justify-content: center;
  /* padding: 2vw; */
  /* padding-top: 100px; */
}

.plan-option {
  width: 310px;
  /* height: 993px; */
  text-align: center;
  background-color: white !important;
  border: none;
  border-radius: 1vw;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding: 36px 25px 26px 25px;
  margin: 200px 12px 200px 12px;
}

.plan-options button {
  height: 50px;
  width: 180px;
  background-color: var(--blue1);
  color: white;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px;
  transition: 300ms;
}

.plan-options button:hover  {
  background: var(--blue2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.plan-option img {
  width: 260px;
  height: 160px;
  margin-bottom: 26px;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
}

/* .plan-option div {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
} */

.benefits {
  width: 260px;
}

.benefit {
  display: flex;
  margin: 0;
  margin-bottom: 10px;
  width: 100%;
}

.tick-outer {
  display: table;
  margin-top: auto;
  margin-bottom: auto;
  /* flex: 1; */
  width: 24px;
  height: 18px;
}

/* .tick, .tick p {
  color: green;
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  font-size: 18px;
} */

.checkmark {
  display:inline-block;
  width: 18px;
  height:18px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.checkmark_stem {
  position: absolute;
  width:2.5px;
  height:22px;
  background-color:var(--green);
  left:8px;
  top:0px;
}

.checkmark_kick {
  position: absolute;
  width:10px;
  height:2px;
  background-color:var(--green);
  left:0px;
  top:20px;
}



.ben-p-outer {
  /* flex: 8 !important; */
  display: table;
  line-height: 18px;
  padding-left: 16px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  height: fit-content;
}

.benefit p {
  /* display: table-cell; */
  /* vertical-align: middle; */
  padding: 0px;
  margin: 0;  
  width: 200px;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.plan-title {
  font-weight:600;
  font-size: 18px;
  line-height: 27px;
  margin: 0px;
}

.plan-price {
  font-style: normal;
  font-weight:300;
  font-size: 36px;
  line-height: 36px;
  padding: 26px;
  margin: 0px;
}

.plan-price b {
  font-style: normal;
  font-weight:400;
  font-size: 18px;
  line-height: 27px;
}

.selected {
  width: 641px;
  /* height: 763px; */
  margin: 100px auto;
  border: none;
  padding: 0;
  display: flex;
  /* border: 2px solid red; */
}

.detailCol .plan-title {
  margin-top: 0;
  margin-bottom: 0;
}

.detailCol .plan-price {
  margin-top: 24px;
  margin-bottom: 24px;
}

.detail-benefits {
  margin: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  border: none;
  box-shadow: none;
} 

.selected img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  width: 260px;
  height: 160px;
}

.hr-details {
  width: 1000px;
  margin: 0px 220px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid var(--grayish);
}

.detailCol, .cardCol {
  display: flex;
  flex-direction: column;
}

.detailCol {
  width: 313px;
}

.cardCol {
  width: 260px;
  margin-right: 48px;
}

.cardCol button {
  width: 180px;
  height: 50px;
  background-color: var(--blue1);
  color: white;
  border: none;
  margin: auto auto 12px auto;
  transition: 300ms;
}

.cardCol button:hover {
  background: var(--blue2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.other-options {
  display: flex;
  width: 876px;
  margin: 0 auto 0px auto;
  padding: 50px 0 100px 0;
}

.other-option {
  flex: 1;
  width: 426px;
  margin: 12px;
  height: 220px;
  display: flex;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.other-option div {
  flex: 1;
}

.other-option div + div {
  display: flex;
  flex-direction: column;
  margin: 38px 24px;
}

.other-option div img {
  width: 130px;
  height: 80px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 70px 24px;
  border-radius: 15px;
}

.other-option div .plan-title {
  margin: 0;
}

.other-option div .plan-title + p {
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.other-option div button {
  border: 2px solid var(--blue1);
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: var(--blue1);
  background-color: white;
  box-sizing: border-box;
  border-radius: 30px;
  width: 180px;
  height:  50px;
  transition: 300ms;
}

.other-option div button:hover {
  background: var(--blue1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  color: white;
}

.profile-div {
  height: 490px;
}

.profile-card {
  width: 850px;
  height: 391px;
  padding: 36px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  margin: 100px auto;
}

.profile-card img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  width: 314px;
  height: 193px;
}

.profile-info {
  display: flex;
  height: 251px;
  width: 776px;
}

.profile-options {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

.profile-person {
  margin-left: 80px;
  width: 379px;
  height: 205px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
}

.profile-person p {
  margin: 0 0 0 4px;
}

.profile-options button + button {
  margin-left: 48px;
}

.profile-options button {
  width: 250px;
  height: 50px;
  background-color: var(--blue1);
  color: white;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  transition: 300ms;
}

.profile-options button:hover {
  background-color: var(--blue2);
}